@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/wwwroot/css/style.css")"
    <title>Zoknipárosító Játék</title>
</head>
<body>
    <div class="menu">
        <h1>Zoknipárosító Játék</h1>
        <h2>MENÜ</h2>
        <div class="menu-items">
            <button id="start-button" class="difficulty-button">Játék indítása</button>
            <div class="difficulty">
                <span>Nehézség:</span>
                <button class="difficulty-button" data-difficulty="easy">Könnyű</button>
                <button class="difficulty-button" data-difficulty="medium">Közepes</button>
                <button class="difficulty-button" data-difficulty="hard">Nehéz</button>
            </div>
            <button id="leaderboard-button" class="difficulty-button">Ranglista</button>
            <div class="name-input">
                <label for="player-name">Név:</label>
                <input type="text" id="player-name" placeholder="Add meg a nevedet">
            </div>
        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>

