@{
ViewData["Title"] = "Leaderboard";

}

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<style>
    body {
        font-family: 'Comic Sans MS';
        background-color: #f0e4d6;
        font-size: 1em;
    }

    .row {
        text-align: center;
    }

    .ures {
        background-color: #f0e4d6;
    }

    .btn-lg {
        width: 5em;
        height: 5em;
        font-size: 1em;
        background-color: #ff6f61;
        border: 2px solid #da3c2e;
        color: wheat;
    }

        .btn-lg:hover {
            background-color: #da3c2e;
            color: #ff6f61;
            border: 2px solid red;
        }

    .btn:active {
        background-color: black;
    }
</style>
<div class="container">
    <div class="row">
        <h1>Zoknipárosító</h1>
    </div>

    <div class="row pt-1">
        <div class="col-3 ures"></div>
        <div class="col-2">
            <div class="btn-lg btn-primary gomb" id="1" data-sock="bal">BAL 1</div>
        </div>
        <div class="col-2">
            <span id="ido">00:00</span>
        </div>
        <div class="col-2">
            <div class="btn-lg btn-primary gomb" id="1" data-sock="jobb">JOBB 1</div>
        </div>
        <div class="col-3 ures"></div>
    </div>

    <div class="row pt-1">
        <div class="col-3 ures"></div>
        <div class="col-2">
            <div class="btn-lg btn-primary gomb" id="2" data-sock="bal">BAL 2</div>
        </div>
        <div class="col-2 ures"></div>
        <div class="col-2">
            <div class="btn-lg btn-primary gomb" id="2" data-sock="jobb">JOBB 2</div>
        </div>
        <div class="col-3 ures"></div>
    </div>

    <div class="row pt-1">
        <div class="col-3 ures"></div>
        <div class="col-2">
            <div class="btn-lg btn-primary gomb" id="3 "data-sock="bal">BAL 3</div>
        </div>
        <div class="col-2 ures"></div>
        <div class="col-2">
            <div class="btn-lg btn-primary gomb" id="3 "data-sock="jobb">JOBB 3</div>
        </div>
        <div class="col-3 ures"></div>
    </div>

    <div class="row pt-1">
        <div class="col-3 ures"></div>
        <div class="col-2">
            <div class="btn-lg btn-primary gomb" id="4" data-sock="bal">BAL 4</div>
        </div>
        <div class="col-2 ures"></div>
        <div class="col-2">
            <div class="btn-lg btn-primary gomb" id="4" data-sock="jobb">JOBB 4</div>
        </div>
        <div class="col-3 ures"></div>
    </div>

    <div class="row pt-1">
        <div class="col-3 ures"></div>
        <div class="col-2">
            <div class="btn-lg btn-primary gomb" id="5" data-sock="bal">BAL 5</div>
        </div>
        <div class="col-2 ures"></div>
        <div class="col-2">
            <div class="btn-lg btn-primary gomb" id="5" data-sock="jobb">JOBB 5</div>
        </div>
        <div class="col-3 ures"></div>
    </div>
</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script>
    
        
    var selectedDifficult = @ViewData["Diff"];
    var playerName = '@Html.Raw(ViewData["Name"])';
    // Először szükséged van az összes gomb elemre.
    const buttons = document.querySelectorAll('.gomb');
    var balvalasztva = false;
    var jobbvalasztva = false;
    var balid = 0;
    var jobbid = 0;
    // A gombokhoz hozzárendeljük a kattintás eseménykezelőt.
    buttons.forEach(button => {
        button.addEventListener('click', function () {
            // Az id érték lekérése
            const id = this.id;

            // A data-sock érték lekérése
            const dataSock = this.getAttribute('data-sock');
           
           
            if(id === balid && dataSock === "bal"){
                balid = 0;
                balvalasztva = false;
                console.log("Bal oldali kiválasztás törölve")
            }
            else{
                if(balvalasztva === false && dataSock === "bal"){
                    balvalasztva = true;
                    balid = id;
                    console.log("Bal oldalon kiválasztva")
                }
                if(dataSock === "bal"){
                    console.log("Bal oldalon már volt választás")
                }
            }
            if (id === jobbid && dataSock === "jobb") {
                jobbid = 0;
                jobbvalasztva = false;
                console.log("Jobb oldali kijelőlés törölve")
            }
            else{
                if (jobbvalasztva === false && dataSock === "jobb") {
                    jobbvalasztva = true;
                    jobbid = id;
                    console.log("Jobb oldalon kiválasztva")
                }
                if(dataSock === "jobb") {
                    console.log("Jobb oldalon már volt választás")
                }
                // Most már rendelkezésre állnak az id és dataSock értékek, amiket használhatsz.
              
            }
        });
    });



    let elinditva = false;
    let idoKezdete;

    function frissitIdo() {
        if (elinditva) {
            const jelenlegiIdo = new Date().getTime();
            const kulonbsegMsec = jelenlegiIdo - idoKezdete;
            const kulonbsegSec = Math.floor(kulonbsegMsec / 1000);
            const masodperc = kulonbsegSec % 60;
            const perc = Math.floor(kulonbsegSec / 60);

            const idoElem = document.getElementById("ido");
            idoElem.textContent = perc + ":" + (masodperc < 10 ? "0" : "") + masodperc;

            requestAnimationFrame(frissitIdo);
        }
    }

    function inditIdomero() {
        if (!elinditva) {
            elinditva = true;
            idoKezdete = new Date().getTime();
            frissitIdo();
        }
    }

    window.onload = function() {
        inditIdomero();
    };
//const buttons = document.querySelectorAll(".btn-lg.btn-primary.gomb");
//let selectedButton = null;

//buttons.forEach((button) => {
//    button.addEventListener("click", function () {
//        // Távolítjuk a keretet az előzőleg kijelölt gombról (ha volt ilyen)
//        if (selectedButton) {
//            selectedButton.style.border = "2px solid #da3c2e";
//        }

//        // Állítsuk be a keretet a kiválasztott gombra
//        button.style.border = "4px solid red";

//        // A kiválasztott gombot eltároljuk a selectedButton változóban
//        selectedButton = button;
//    });
//});
</script>

